// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}

th {
  width: 20%;
  background-color: #f2f2f2;
}

td {
  text-align: center;
}

.item-main-form {
  text-align: center;
}

.item-form {
  margin: 10px 0;
}

.item-form-description {
  height: 300px;
  textarea {
    height: 300px;
  }
}
